
{%- load_yaml as cluster_defaults %}
Debian:
  pkgs:
  - maas-rack-controller
  services:
  - maas-rackd
{%- endload %}

{%- set cluster = salt['grains.filter_by'](cluster_defaults, merge=salt['pillar.get']('maas:cluster', {})) %}

{%- load_yaml as region_defaults %}
Debian:
  pkgs:
  - maas-region-controller
  services:
  - maas-regiond
  - bind9
  bind:
    host: {{ grains.ipv4[0] }}
    port: 80
{%- endload %}

{%- set region = salt['grains.filter_by'](region_defaults, merge=salt['pillar.get']('maas:region', {})) %}
